:root {
  /* tokens  */
  --white-fade: #fdfff7;
  --fade-border: #dedede;
  --primary: #29a5e6;
  --main: #102634;
  --text-1: #292d32;
  --text-2: #f6f6f6;
  --dark: #1c1c1c;
  --pale-blue: #ddf7f066;
  --pale-grey: #ffffff1a;
  --text-secon: #cfd4d6;
  --map-pin: #4a5763;
  --question-card: #19191A05;

  --primary-btn-bg: linear-gradient(
    104.4deg,
    rgba(28, 207, 189, 0.07) 1.7%,
    rgba(44, 155, 240, 0.07) 105.41%
  );

  --main-gradient: linear-gradient(104.4deg, #1ccfbd 1.7%, #2c9bf0 105.41%);

  /* fonts */
  --poppins: "Poppins", serif;
  --clash-grotesk-200: ClashGrotesk-ExtraLight;
  --clash-grotesk-300: ClashGrotesk-Light;
  --clash-grotesk-400: CLashGrotesk-Regular;
  --clash-grotesk-500: ClashGrotesk-Medium;
  --clash-grotesk-600: ClashGrotesk-SemiBold;
  --clash-grotesk-700: ClashGrotesk-Bold;
}
