:root {
  /* tokens  */
  --white-fade: #fdfff7;
  --fade-border: #dedede;
  --primary: #29A5E6;
  --main: #102634;
  --text-1: #292D32;
  --text-2: #F6F6F6;

  /* fonts */
  --poppins: "Poppins", serif;
  --clash-grotesk-200: ClashGrotesk-ExtraLight;
  --clash-grotesk-300: ClashGrotesk-Light;
  --clash-grotesk-400: CLashGrotesk-Regular;
  --clash-grotesk-500: ClashGrotesk-Medium;
  --clash-grotesk-600: ClashGrotesk-SemiBold;
  --clash-grotesk-700: ClashGrotesk-Bold;
}
