:root {
  /* tokens  */
  --white-fade: #fdfff7;
  --fade-border: #dedede;
  --primary: #29a5e6;
  --main: #102634;
  --text-1: #292d32;
  --text-2: #f6f6f6;
  --text-3: var(--main);
  --dark: #1c1c1c;
  --pale-blue: #ddf7f066;
  --pale-grey: #ffffff1a;
  --text-secon: #cfd4d6;
  --map-pin: #4a5763;
  --question-card: #19191a05;
  --grey: #818181;
  --white-fade-8: #fdfff714;
  --input-outline: #81818199;
  /* dark 6% */
  --dark-6: #1c1c1c0f;
  --outline: #e2e8f0;
  --platinum: #e5e4e2;
  --light-grey: #d3d3d3;

  --overview-card-secondary: #2a3e49;
  --btn-secondary: #1ccfbd;
  --btn-secondary-7: #1ccfbd12;
  --grey-100: #f6f6f6;
  --text-grey-200: #04040499;
  --modal-title: #12141a;
  --alt-text: #6e6e6e;
  --card-bg-active: #f0fafc;
  --border-muted: #8181816b;
  --calendar-days-color: #696969;
  --grey-sec: #42545f;
  --grey-007: #81818112;

  --success-700: #027a48;
  --success-25: #f6fef9;
  --danger-700: #b42318;
  --danger-25: #fffbfa;
  --info-600: #0293d2;
  --info-25: #f5faff;
  --warn-25: #fffcf5;
  --warn-500: #f79009;
  --deep-blood: #f04438;
  --delay-bg: #f60e4414;
  --delay-text: #f60e44;
  --pay-green: #3fc412;
  --pay-green-bg: #3fc4121c;
  --table-text: #6e6e6e;
  --pending-text: #c48012;
  --pending-bg: #c480121c;

  --primary-btn-bg: linear-gradient(
    104.4deg,
    rgba(28, 207, 189, 0.07) 1.7%,
    rgba(44, 155, 240, 0.07) 105.41%
  );

  --main-gradient: linear-gradient(104.4deg, #1ccfbd 1.7%, #2c9bf0 105.41%);
  --main-gradient-light: linear-gradient(
    104.4deg,
    rgba(28, 207, 189, 0.1) 1.7%,
    rgba(44, 155, 240, 0.1) 105.41%
  );

  /* fonts */
  --poppins: "Poppins", serif;
  --open-sans: "Open Sans", serif;
  --clash-grotesk-200: ClashGrotesk-ExtraLight;
  --clash-grotesk-300: ClashGrotesk-Light;
  --clash-grotesk-400: CLashGrotesk-Regular;
  --clash-grotesk-500: ClashGrotesk-Medium;
  --clash-grotesk-600: ClashGrotesk-SemiBold;
  --clash-grotesk-700: ClashGrotesk-Bold;
  --clash-grotesk-variable: ClashGrotesk-Variable;
  --maven-pro-500: "Maven Pro", sans-serif;
  /* shadows */
  --table-shadow: 1px 2px 9px 0px #00000017;
}
